# CODEOWNERS file to define ownership for solution repository

# Explicit owner for the maintainer workflows configuration
/.github/workflows/maintainer_workflows.yml @aws-solutions-library-samples/maintainers

# Explicit owner for the solution ID validator script
/.github/solutionid_validator.sh @aws-solutions-library-samples/maintainers
