wnode_modules
build
.DS_Store
dist/
*.iml
*.zip
.idea
.pytest_cache
__pycache__/
.attach*
cdk.out/
cdk.context.json
dist-electron/
release/
get-pip.py

!**/glob-import/dir/node_modules
*.cpuprofile
*.local
*.log
/.vscode/
/packages/vite/LICENSE
dist
dist-ssr
explorations
playground-temp
temp
TODOs.md
.eslintcache
*~
*#
*.swp
*.DS_Store
node_modules/
*.py[cod]
*$py.class
*.egg-info/
nohup.out

/.coverage
/.coverage.*
/.cache
/.pytest_cache
/.mypy_cache

/doc/_apidoc/
/build
