[submodule "lib/osml-model-runner"]
	path = lib/osml-model-runner
	url = https://github.com/aws-solutions-library-samples/osml-model-runner.git
[submodule "lib/osml-models"]
	path = lib/osml-models
	url = https://github.com/aws-solutions-library-samples/osml-models.git
[submodule "lib/osml-model-runner-test"]
	path = lib/osml-model-runner-test
	url = https://github.com/aws-solutions-library-samples/osml-model-runner-test.git
[submodule "lib/osml-cdk-constructs"]
	path = lib/osml-cdk-constructs
	url = https://github.com/aws-solutions-library-samples/osml-cdk-constructs.git
[submodule "lib/osml-cesium-globe"]
	path = lib/osml-cesium-globe
	url = https://github.com/aws-solutions-library-samples/osml-cesium-globe.git
[submodule "lib/osml-tile-server"]
	path = lib/osml-tile-server
	url = https://github.com/aws-solutions-library-samples/osml-tile-server.git
[submodule "lib/osml-tile-server-test"]
	path = lib/osml-tile-server-test
	url = https://github.com/aws-solutions-library-samples/osml-tile-server-test.git
[submodule "lib/osml-data-intake"]
	path = lib/osml-data-intake
	url = https://github.com/aws-solutions-library-samples/osml-data-intake
