[submodule "lib/osml-model-runner"]
	path = lib/osml-model-runner
	url = git@github.com:aws-solutions-library-samples/osml-model-runner.git
[submodule "lib/osml-models"]
	path = lib/osml-models
	url = git@github.com:aws-solutions-library-samples/osml-models.git
[submodule "lib/osml-model-runner-test"]
	path = lib/osml-model-runner-test
	url = git@github.com:aws-solutions-library-samples/osml-model-runner-test.git
[submodule "lib/osml-cdk-constructs"]
	path = lib/osml-cdk-constructs
	url = git@github.com:aws-solutions-library-samples/osml-cdk-constructs.git
[submodule "lib/osml-imagery-toolkit"]
	path = lib/osml-imagery-toolkit
	url = git@github.com:aws-solutions-library-samples/osml-imagery-toolkit.git
