# Node modules
node_modules/
wnode_modules

# Build outputs
build/
dist/
dist-electron/
dist-ssr/
cdk.out/
release/
temp/
*.egg-info/
cdk.context.json

# Python cache files
__pycache__/
*.py[cod]
*$py.class
/.pytest_cache
/.mypy_cache
.pytest_cache
.cache

# IDEs and editors
.idea/
.vscode/
*.iml
*.swp
*.cpuprofile

# Logs and databases
*.log
nohup.out

# Local configuration files
*.local
.eslintcache

# Temporary files
*.attach*
playground-temp
explorations
TODOs.md
get-pip.py
*~
*#
*.DS_Store
stack_list.txt

# Coverage reports
.coverage
.coverage.*

# Documentation
/doc/_apidoc/

# Package files
*.zip
/packages/vite/LICENSE

# Exclusions
!**/glob-import/dir/node_modules
