*~
*#
*.swp
**/*.iml
**/*.DS_Store
**/*.tox
**/*.idea
**/*venv
**/*model-runner-test
**/*accounts
**/*osml-models
**/*osml-cdk-constructs
**/*guidance-for-overhead-imagery-inference-on-aws
**/*osml-cesium-globe
**/*osml-documentation
**/__pycache__/
**/*.py[cod]
**/*$py.class
**/*.egg-info/

**/.coverage
**/.coverage.*
**/.cache
**/.pytest_cache
**/.mypy_cache

**/doc/_apidoc/
**/build
**/dist
**/htmlcov